.eUsuario, .user {
    float: left;
    width: 50%;
    padding: 0px 20px;
    box-sizing: border-box;
}

.eUsuario {
    margin-top: 110px;
}

.ns{
    display: flex;
    flex-direction: column;
    margin-right: 180px;
    margin-bottom: 20px;
}

.user {
    margin-top: 120px;
    margin-left: 150px;
    width: 500px;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgb(26, 25, 25));
}

h1 {
    color: var(--Tangerine);
    font-size: 40px;
}

.titulo {
    font-weight: bold;
    margin-bottom: 5px;
}

.eye {
    position:absolute;
    margin-top: 2%;
    margin-left: 31%;
}

.warning {
    font-size: 10px;
    color: var(--Tangerine);
    padding-top: 5px;
}

input, textarea {
    border-radius: 10px;
    padding: 3px 10px;
    border-color: var(--Lapizlazuli);
    font-family: var(--font-hind);
}

.buttons {
    margin-top: 20px;
    margin-right: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin: -5px 180px 10px 0;
    filter: drop-shadow(0px 2px 2px rgba(107, 105, 105, 0.445));
}

.b {
    background-color: var(--Lapizlazuli);
    border-radius: 50px;
    border: none;
    padding: 10px 40px;
    color: var(--MintCream);
    
    text-decoration: none;
    font-family: var(--font-monserrat);
    font-size: bold;
}

.Atras {
    background-color: var(--CaputMortuum);
    padding: 10px 40px;
    font-size: 13px;
}

.Atras:hover {
    background-color:#9c3a35;
}

.Eliminar:hover {
    background-color: #068dee
}