@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root{
    /*Colors*/
    --Lapizlazuli: #015C8F;
    --Tangerine: #F18B12;
    --MintCream: #EBF4ED;
    --CaputMortuum: #58201D;
    --EerieBlack: #161616;

    /*Fonts*/
    --font-monserrat: 'Montserrat', sans-serif;
    --font-abadi: 'Raleway', sans-serif;
    --font-hind: 'Hind', sans-serif;
}

.informacionUsuario, .form {
    display: flex;
    flex-direction: column;
}

.informacionUsuario {
    margin-top: 90px;
}

.info {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--Tangerine);
    font-size: 40px;
    margin-bottom: 0px;
}

h3 {
    color: var(--EerieBlack);
    margin-top: 0px;
    padding-right: 5px;
}

.informacionUsuario, .user {
    float: left;
    width: 50%;
    padding: 0px 20px;
    box-sizing: border-box;
}

.user {
    margin: 120px 40px 0px 120px;
    width: 500px;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgb(26, 25, 25));
    border-radius: 100%; 
}

.info {
    padding-top: 10px;
}

.info input {
    width: 69%;
}

input {
    border-radius: 10px;
    padding: 3px 10px;
    border-color: var(--Lapizlazuli);
    font-family: var(--font-hind);
}

.success {
    font-size: 12px;
    color: #098b14;
    background-color: #5eff00bb;
    padding: 10px;
    margin-right: 28%;
    margin-bottom: -15px;
    border: 1px solid #2fc20b;
}

.warning {
    font-size: 12px;
    color: #8b4409;
    background-color: #ff8800bb;
    padding: 10px;
    margin-right: 28%;
    margin-bottom: -15px;
    border: 1px solid var(--Tangerine);
}

.titulo {
    font-weight: bold;
}

.buttons {
    margin-top: 20px;
    margin-right: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b {
    background-color: var(--CaputMortuum);
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 13px;
    text-decoration: none;
    font-family: var(--font-monserrat);
    font-size: bold;
    color: var(--MintCream);
}

.Atras:hover {
    background-color:#9c3a35;
}

.Editar {
    background-color: var(--Lapizlazuli);
}

.Editar:hover{
    background-color: #068dee
}

.Eliminar {
    background-color: var(--Tangerine);
}

.Eliminar:hover{
    background-color: #ff9900
}

.Iti{
    margin: 5px 180px 0 0;
    text-align: center;
}