{% extends 'Template.html' %}
{% block style %}
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/EditarStyle.css') }}">
{% endblock %}

{% block main %}
<main>
    <form class="edicionUsuario" method="POST" enctype="multipart/form-data" action="{{ url_for('editar_usuario',  usuario = item.usuario) }}">
        <div class="user profile-pic">
            <img src="{{url_for('static', filename='profile_pics/' + item['img_profile'] )}}" id="profile-pic" width="200" />
            <label class="overlay">
                <span>Editar Imagen de Perfil</span>
                <input id="file" name="profile_file" type="file" onchange="loadFile(event)"/>
            </label>
        </div>
        <div class="editarUsuario">
            <h1>Editar Perfil</h1>
            {% if g.usertype != 'usuario' %}
                <h3>{{ item.usertype }}</h3>
            {% endif %}
            <div class="form">
                <div class="name-sur">
                    <label class="editar div">
                        <span class="titulo">Nombre:</span>
                        <input type="text" name="name" id="name" placeholder="{{ item.nombre }}" value="{{ item.nombre }}">
                    </label>
                    <label class="editar div">
                        <span class="titulo">Apellido:</span>
                        <input type="text" id="surname" name="surname" placeholder="{{ item.apellido }}" value="{{ item.apellido }}">
                    </label>
                </div>
                <div class="user-contraseña">
                    <label class="editar userName">
                        <span class="titulo">Usuario:</span>
                        <input type="text" id="username" name="username" placeholder="{{ item.usuario }}" value="{{ item.usuario }}"
                        onfocus="mostrarReq('uReq','◦Tener mínimo 6 caractéres<br>◦Tener máximo 30 caractéres<br>◦Tener Números');"
                        onblur="mostrarReq('uReq', '')"> 
                    </label>
                    <a href="CambiarContraseña.html" class="b Contraseña">Cambiar Contraseña</a>
                </div>
                <label class="editar">
                    <span class="titulo">Correo Electronico:</span>
                    <input type="text" id="email" name="email" placeholder="{{ item.email }}" value="{{ item.email }}">
                </label>
                <span class="warning" id="e-Warning"></span>
                <br>
                <label class="editar">
                    <span class="titulo">Fecha de Nacimiento:</span>
                    <input type="date" id="birthday" name="birthday" value="{{ item.fecha_nacimiento }}">
                </label>
                <label class="editar">
                    <span class="titulo">Sexo:</span>
                    <select id="sex" name="sex">
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="noDefinido">Prefiero no decir</option>
                    </select>
                </label>
            </div>
            <input type="hidden" value="{{ item.sexo }}" id=sexo>
            <div class="buttons">
                <button class="b Editar" id="bEditar">Editar</button>
                {% if g.usertype != 'usuario' %}
                    <a href="{{ url_for('informacion_admin', user=item.usuario) }}" class="b Atras">Atras</a>
                {% else %}
                    <a href="{{ url_for('informacion')}}" class="b Atras">Atras</a>
                {% endif %}
            </div>
        </div>
    </form>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/EditarUsuarioScript.js') }}"></script>
{% endblock %}
