{% extends 'Template.html' %}
{% block style %}
    <title>Eliminar Usuario</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/EliminarUserStyle.css') }}">
{% endblock %}

{% block main %}
<main>
    <img src="{{ url_for('static', filename='icons/userb.svg') }}" alt="user+.svg" class="user"/>
    <form class="eUsuario" method="POST" action="">
        <h1>Eliminar Usuario</h1>
        <div class="form">
            <label class="ns">
                <span class="titulo">Usuario:</span>
                <input type="text" name="username" name="{{ item.usuario }}" value="{{ item.usuario }}">
            </label>
            <span class="warning" id="uWarning"></span>
            <label class="ns">
                <span class="titulo">Correo Electronico:</span>
                <input type="email" name="email" name="{{ item.email }}" value="{{ item.email }}">
            </label>
            <span class="warning" id="e-Warning"></span>
            <hr>
            <label class="ns">
                <span class="titulo">Contraseña:</span>
                <input type="password" id="password" name="password" placeholder="Contraseña del Administrador">
                <img src="{{ url_for('static', filename='icons/eyeO.svg') }}" alt="ver" class="eye" id="peye">
                <input id="hiPassword" type="hidden" value="{{ url_for('static', filename='icons/eyeC.svg') }}" />
                </label>
            <span class="warning" id="pWarning"></span>
            <label class="ns">
                <span class="titulo">Motivo de la Eliminación:</span>
                <textarea class="comentario" name="comentario" placeholder="Indique breve descripción de la eliminación"></textarea>
            </label>
        </div>
        <div class="buttons">
            <button class="b Eliminar" id="bEliminar">Eliminar</button>
            <a href="{{ url_for('informacion_admin', user=item.usuario) }}" class="b Atras">Atras</a>
        </div>
    </form>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/EliminarUsuarioScript.js') }}"></script>
{% endblock %}
