{% extends 'Template.html' %}
{% block style %}}
    <title>Itinerario de Vuelos</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ItinerarioVueloStyle.css')}}">
{% endblock %}

{% block main %}
<main>        
    <form class="ItinerarioVuelo" method="GET" action="" onsubmit="">
        <h1><i class="fas fa-solid fas fa-calendar-week"></i> Itinerario de Vuelos</h1>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {% for error in errors %}
                <p class="warning">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <div class="form">
            <div class="name-sur">                    
                <label>
                    <span class="titulo">Nombre Completo:</span>
                    <input type="text" name="name" value="{{ pilotName }}" readonly>
                </label>
            </div>
            <br>
            <table class="itinerarioTabla">
                <tr>
                    <th>Codigo del vuelo</th>
                    <th>Codigo del avión</th>
                    <th>Ciudad de origen</th>
                    <th>Ciudad de destino</th>
                    <th>Hora de Partida</th>
                    <th>Fecha de Salida</th>
                    <th>Estado</th>                    
                </tr>
                {% if informacion %}
                    {% for item in informacion %}
                        <tr>
                            <td>{{ item.codVuelos}}</td>
                            <td>{{ item.codAvion}}</td>
                            <td>{{ item.ciudadOrigen}}</td>
                            <td>{{ item.ciudadDestino}}</td>
                            <td>{{ item.horaVuelo}}</td>
                            <td>{{ item.fechaVuelo}}</td>
                            <td>{{ item.estado}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                            <td colspan="7"> Vuelos no encontrados</td>
                        </tr>
                {% endif %}
                {% if error %}
                    <tr>
                        <td colspan="7">{{error}}</td>
                    </tr>
                {% endif %}
            </table>
            
            
        </div>
        <div class="buttons">    
            <a href="{{ url_for('home') }}" class=" bAtras bLink">Atras</a>
        </div>
    </form>
</main>
{% endblock %}

{% block scripts %}
{% endblock %}
