{% extends 'Template.html' %}
{% block style %}
<title>Ingresar</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/LoginStyle.css') }}">
{% endblock %}

{% block main %}
<main>
    <img src="{{ url_for('static', filename='icons/user+.svg') }}" alt="user+.svg" class="user"/>
    <form class="logUsuario" method="POST" action="">
        <h1>Ingresar</h1>
        <div class="form">
            {% with warnings = get_flashed_messages() %}
                {% if warnings %}
                    {% for warnings in warnings %}
                        <p class="warning">
                            {{ warnings }}
                        </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label class="ns">
                <span class="titulo">Usuario:</span>
                <input type="text" id="userName" name="userName">
            </label>
            <label class="ns">
                <span class="titulo">Contraseña:</span>
                <input type="password" id="password" name="password">
                <img src="{{ url_for('static', filename='icons/eyeO.svg') }}" alt="ver" class="eye" id="peye">
                <input id="hiPassword" type="hidden" value="{{ url_for('static', filename='icons/eyeC.svg') }}" />
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="rememberMe" name="rememberMe" class="check">
            <label for="rememberMe" class="check">Recordar Usuario</label>
        </div>
        <div class="links">
            <a href="RecuperarContrasena.html" class="log-link">¿Olvidaste Tu Contraseña?</a>
            <button class="bLogin" id="bLogin" type="submit">Ingresar</button>
            <div class="bellow">
                <a href="RegistroUsuario.html" class="log-link">No Estoy Registrado</a>
                <button class="bAtras">
                    <a href="Home.html" class="bLink">Atras</a>
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/LoginScript.js') }}"></script>
<script src="https://kit.fontawesome.com/07398d27e2.js" crossorigin="anonymous"></script>
{% endblock %}
