{% extends 'Template.html' %}
{% block style %}
<title>Recuperar Contraseña</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/RecuperarContraseñaStyle.css')}}">
{% endblock %}

{% block main %}
<main>
    <img src="{{url_for('static', filename='icons/lock.svg')}}" alt="lock.svg" class="lock"/>
    <form class="rContraseña" method="POST" action="{{ url_for('RecuperarContraseña') }}">
        <h1>Recuperar Contraseña</h1>
        <div class="form">
            <label class="ns">
                <span class="titulo">Usuario:</span>
                <input type="text" id="userName" name="userName">
                <span class="warning" id="uWarning"></span>
            </label>
            <label class="ns">
                <span class="titulo">Correo Electronico:</span>
                <input type="email" id="email" name="email" placeholder="example@correo.com">
                <span class="warning" id="e-Warning"></span>
            </label>
        </div>
        <div class="links">
            <button class="bRecuperar" id="bRecuperar">Recuperar</button>
            <a href="{{ url_for('login') }}" class="bLink bAtras">Atras</a>
        </div>
    </form>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/RContrasenaScript.js') }}"></script>
{% endblock %}
